.contactOptionsContainer {
    display: flex;
    justify-content: space-evenly;
}

.contactOptionsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsOptionsIcon {
    /* font-size: large; */
}

.formSection {
    display: flex;
    justify-content: center;
}

.form {
    max-width: min(800px, 80vw);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--big-gap);

}

.formButton {
}