:root {
    --header-height: 10vh;
    --max-content-width: 1000px;
    --big-gap: 32px;
    --small-gap: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, p, span, a, div {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
    text-decoration: none;
}

h1 {
    font-size: 38px;
    text-align: center;
    padding-bottom: var(--big-gap);
}

h2 {
    font-size: 28px;
    text-align: center;
    padding-bottom: var(--big-gap);
}

p, a, span, div {
    font-size: 18px;
}

section, header, footer {
    /* Calculates padding to set max content width for wide screens */
    padding: 0 max(5vw, calc((100vw - var(--max-content-width)) / 2));
}

.footer, .header {
    padding-top: var(--big-gap);
    padding-bottom: var(--big-gap);
}

section {
    padding-bottom: var(--big-gap);
    padding-top: calc(var(--big-gap)*2);
    /* padding-top: var(--big-gap); */
    border-bottom: 1px solid black;
    min-height: calc(100vh - var(--header-height));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-gap);
}

.explanationHeaderForClient, .explanationTextForClient {
    position: absolute;
    color: rgb(176, 176, 176);
    top: 0;
    left: max(5vw, calc((100vw - var(--max-content-width)) / 2));
    font-size: 25px;
}

.explanationTextForClient {
    top: 50px;
    width: 400px;
    font-size: 16px;
    line-height: 1.2;
}

header .explanationTextForClient, footer .explanationTextForClient {
    top: 0;
}