.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-top: 60px !important;
}

.header .headerMenuContainer {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.header .headerMenuItem {
    list-style: none;
}