* {
}

.heroSection {
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    align-items: center;
}

.heroSection h1 {
    grid-column: 1 / 3;
}

.heroInfoContainer {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}

.heroButtonsContainer {
    display: flex;
    gap: var(--small-gap);
}

.photosContainer {
    display: flex;
    justify-content: center;
}

.chefContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chefPhoto {
    flex-basis: 50%;
}

.chefInfoContainer {
    flex-basis: 50%;
}
